@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END RESET*/

/*small global*/
body{
    max-width: 360px;
    margin: auto;
    text-align: center;
    background-color: #dad3b742;
}

h1,h2,h3{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .5em;
}

h1{
    padding-top: 1em;
}

.needSpace{
    margin-top: 10px;
    margin-bottom: 3em;
}

dl, ul, p, label, h4, a, #mySubmit{
    font-family: 'Comfortaa', cursive;
    line-height: 22px;
}

dl{
    text-align: left;
}

dt{
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: .5em;
}

section{
    margin-bottom: 3em;
}

section h3{
    font-size: 1.5em;
    margin-top: 0;
}
/*navigation*/
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}

nav {
    padding-bottom: 25px;
    position: relative;
    z-index: 3;
}

nav h2{
    visibility: hidden;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: .4s ease-out;
}

nav li a:hover {
    text-decoration: underline;
}

hr{
    margin-top: 0;
    border-top: 3px solid #2D838D;
}
/*images*/
img {
    max-width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

header img {
    margin-top: 2em;
}

/* button*/
.buttonStyles, #mySubmit{
    margin-top: 1.5em;
    height: 44px;
    width: 170px;
    background-color: #D74452;
    color: rgb(255, 248, 238);
    border: none;
    font-weight: bold;
    border-radius: .8em;
}

.buttonStyles:hover, #mySubmit:hover{
text-decoration: underline;
background-color: #b43743;
cursor: pointer;
}

.buttonStyles{
    display: block;
    margin-bottom: 20px;
}

/*header and footer*/
.topBottomColor{
    background-color: #2d838d6e;
    padding-left: .2em;
    padding-right: .2em;
}

.topBottomColor a:hover{
    padding: 5px 5px 5px 5px;
    background-color: #2d838d6e
}

/*book section*/
#booksColor{
    background-image: url("images/hero-small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    border-top: 3px solid #DB8E36;
    border-bottom: 3px solid #DB8E36;
    /*background-color: #db8e364d;*/
    padding-left: .2em;
    padding-right: .2em;
    padding-bottom: 10px;
}

#colorBack{
    margin-top: 2.8em;
    padding-top: 2em;
    padding-bottom: 2em;
    color: rgb(255, 248, 238);
    background-color: #1919199a;
    border: 3px solid #DB8E36;
    margin-left: 20px;
    margin-right: 20px;
}

#theBooks p{
    margin-bottom: .9em;
}

#theBooks h4{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 1.5em;
}

#theBooks h3{
    font-size: 1.5em;
}

.bookColor{
    border-top: 3px solid #DB8E36;
}

/*event section*/
#eventColor p{
    padding-bottom: 10px;
}

#events h3{
    text-align: left;
}

#eventColor{
    border-top: 3px solid #DB9F34;
    border-bottom: 3px solid #DB9F34;
    background-color: #db9e344b;
    padding-left: .2em;
    padding-right: .2em;
}

.eventColor{
    border-top: 3px solid #DB9F34;
}

#events h2{
    padding-top: 8px;
}

/* form*/
form{
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
input{
    height: 25px;
}
#alignItems a{
    padding-top: 18px;
    padding-bottom: 0;
}

#alignItems section{
    border-bottom: 3px solid #DB9F34;
}

/*footer*/
footer{
    display: block;
    border-top: 3px solid #2D838D;
    padding-bottom: .3em;
}
footer p{
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin-bottom: 2em;
    margin-left: 1em;
}
footer h2{
    text-align: left;
    margin-left: .5em;
    padding-top: 1em;
}
footer h3{
    border-bottom: 3px solid #2D838D;
}
#footerLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.jumpLinks li{
    font-family: 'Comfortaa', cursive;
    margin: .5em 0 .5em 0;
}
.jumpLinks{
    border-bottom: 10px #b43743;
}
#social h3{
    visibility: hidden;
}
#social{
    text-align: left;
    margin-left: .5em;
}

/*ham nav*/
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
nav label span {
    background-color: #191919;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
nav label span:before, nav label span:after {
    background: #191919;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
nav label span:before {
    top: 5px;
}
nav label span:after {
    top: -5px;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 500px;
}
nav input:checked ~ label span {
    background: transparent;
}
nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

/*medium*/
@media screen and (min-width: 690px){
    body{
        min-width: 690px;
    }
    nav label, nav span{
        display: none;
    }
    nav input:not(.steps) ~ ul {
        max-height: 500px;
    }

    #about img{
        height: 30em;
    }
    #mainNavigation{
        /*display: grid;
        grid-template-columns: 1fr 0fr ;
        margin-right: auto;
        padding-right: 4em;*/
        display: flex;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
    }
    #theBooks img{
        height: 18em;
    }
    #theBooks p {
        margin: 0px 18px 0px 18px;
    }
    #theBooks{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    #alignItems{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    form div{
        justify-content: space-between;
        align-items: center;
        margin-left: 18px;
        margin-right: 18px;
        grid-area: div;
    }
    .buttonStyles{
        float: right;
    }
    #booksColor{
        background-image: url("images/hero-medium.jpg");
    }
    #colorBack{
        margin-top: 4em;
    }
     /*#hm{
        grid-area: hm;
    }
   form{
        display: grid;
        grid-template-areas: 
        "div hm";
        align-items: center;
    }*/
    form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 18px;
        margin-right: 18px;
    }
}

/*large*/
@media screen and (min-width: 1078px){
    body{
        min-width: 1078px;
    }
    nav label, nav span{
        display: none;
    }
    
    nav input {
        display: contents;
    }
    #mainNavigation{
        /*display: grid;
        grid-template-columns: 1fr 0fr ;
        margin-right: auto;
        padding-right: 4em;*/
        display: flex;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
    }
    hr{
        margin: 0;
    }
    #about img{
        height: 30em;
    }
    #theBooks img{
        height: 15em;
    }
    #theBooks p {
        margin: 0px 18px 0px 18px;
    }
    #theBooks{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #events{
        margin: 0;
        padding: 0;
    }
    #alignItems{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 18px;
        margin-right: 18px;
    }
    #booksColor{
        background-image: url("images/hero-large.jpg");
    }
    #colorBack{
        margin-top: 4.8em;
    }
    /*
    FOOTER DOES NOT LOOK RIGHT IN ANY SCREEN.
    tried to display grid to have content align within fractions that are needed for each portion
    #sanDiego{
        grid-area: sanDiego;
    }
    #santaClara{
        grid-area: santaClara;
    }
    #santaBarbara{
        grid-area: santaBarbara;
    }
    #sanFran{
        grid-area: sanFran;
    }
    #alignItems button{
        grid-area: button;
    }
    #alignItems{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            "sanDiego . button . . santaClara . button"
            "santaBarbara . button . . sanFran . button";
        }*/
}
